name: Deploy to Hostinger VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Hostinger VPS
        uses: hostinger/deploy-on-vps@v1
        with:
          api-key: ${{ secrets.blendedDev }}
          virtual-machine: ${{ vars.blendedDev }}

      - name: Run commands on VPS
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.root }}@${{ secrets.72.61.240.144 }} << 'EOF'
            cd /var/www/apidev.cloud
            git pull origin main
            npm install --production
            pm2 restart all
          EOF
